* { /* CSS Reset */
	vertical-align: baseline;
	font-weight: inherit;
	font-family: sans-serif;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	list-style: none;
	outline: 0;
	padding: 0;
	margin: 0;
	text-align: center;
}
body {
	background-color: black;
	color: #888888;
}
.container-center {
	margin: 0 auto;
	width: 1200px;
}
.main-grid {
	margin-top: 20px;
	margin-bottom: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
		"header header header header"
		"extra-clock-section main-clock-section main-clock-section main-clock-section"
		"comparison-section timer-section timer-section timer-section"
		"comparison-section calendar-section calendar-section calendar-section"
		"footer footer footer footer";
}
.header {
	grid-area: header;
	font-weight: 700;
	font-size: 200%;
	padding: 20px;
}
h1 {
	padding: 38px;
	display: inline-block;
}

/* -=- Extra Clock Section -=- */
.extra-clock-section {
	display: grid;
	align-items: start;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-area: extra-clock-section;
}
.extra-clock-section li {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
}
.extra-clock {
	padding: 15px 0;
}
p.extra-clock {
	text-align: left;
	padding-left: 15px;
}
span.extra-clock {
	text-align: right;
	padding-right: 15px;
}

/* -=- Main Clock Section -=- */
.main-clock-section {
	grid-area: main-clock-section;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	margin-left: 40px;
	grid-template-areas:
		"main-clock-digits"
		"main-clock-readout";
}
#main-clock-digits {
	grid-area: main-clock-digits;
	display: grid;
	justify-items: center;
	margin-top: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"main-digit-0 main-digit-1 main-digit-2 main-digit-3";
}
#main-clock-readout {
	grid-area: main-clock-readout;
	display: grid;
	width: 20%;
	justify-items: center;
	margin: 20px 39.5%;
	font-weight: 700;
	font-size: 140%;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"main-readout-0 main-readout-1 main-readout-2 main-readout-3";
}
#main-digit-0 {grid-area: main-digit-0;}
#main-digit-1 {grid-area: main-digit-1;}
#main-digit-2 {grid-area: main-digit-2;}
#main-digit-3 {grid-area: main-digit-3;}
#main-readout-0 {grid-area: main-readout-0;}
#main-readout-1 {grid-area: main-readout-1;}
#main-readout-2 {grid-area: main-readout-2;}
#main-readout-3 {grid-area: main-readout-3;}

/* -=- Comparison Section -=- */
.comparison-section {
	grid-area: comparison-section;
	margin-top: 20px;
	padding: 20px;
}
.comparison-container {
	position: relative;
	display: grid;
	align-items: stretch;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"hour-24 hour-16";
}
.hour-24 {
	grid-area: hour-24;
	display: grid;
	grid-template-columns: 40px;
	align-items: stretch;
	justify-items: center;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
	"hour-24-9"
	"hour-24-10"
	"hour-24-11"
	"hour-24-12"
	"hour-24-13"
	"hour-24-14"
	"hour-24-15"
	"hour-24-16"
	"hour-24-17"
	"hour-24-18"
	"hour-24-19"
	"hour-24-20"
	"hour-24-21"
	"hour-24-22"
	"hour-24-23"
	"hour-24-0"
	"hour-24-1"
	"hour-24-2"
	"hour-24-3"
	"hour-24-4"
	"hour-24-5"
	"hour-24-6"
	"hour-24-7"
	"hour-24-8";
}
.hour-24-p {
	border-top: 1px solid black;
	width: 80px;
	min-height: 24px;
	padding-top: 25%;
	font-size: 16px;
}
#hour-24-0 {
	grid-area: hour-24-0;
	background-color:hsl(calc(15*0),60%,15%);
}
#hour-24-1 {
	grid-area: hour-24-1;
	background-color:hsl(calc(15*1),60%,15%);
}
#hour-24-2 {
	grid-area: hour-24-2;
	background-color:hsl(calc(15*2),60%,15%);
}
#hour-24-3 {
	grid-area: hour-24-3;
	background-color:hsl(calc(15*3),60%,15%);
}
#hour-24-4 {
	grid-area: hour-24-4;
	background-color:hsl(calc(15*4),60%,15%);
}
#hour-24-5 {
	grid-area: hour-24-5;
	background-color:hsl(calc(15*5),60%,15%);
}
#hour-24-6 {
	grid-area: hour-24-6;
	background-color:hsl(calc(15*6),60%,15%);
}
#hour-24-7 {
	grid-area: hour-24-7;
	background-color:hsl(calc(15*7),60%,15%);
}
#hour-24-8 {
	grid-area: hour-24-8;
	background-color:hsl(calc(15*8),60%,15%);
}
#hour-24-9 {
	grid-area: hour-24-9;
	background-color:hsl(calc(15*9),60%,15%);
}
#hour-24-10 {
	grid-area: hour-24-10;
	background-color:hsl(calc(15*10),60%,15%);
}
#hour-24-11 {
	grid-area: hour-24-11;
	background-color:hsl(calc(15*11),60%,15%);
}
#hour-24-12 {
	grid-area: hour-24-12;
	background-color:hsl(calc(15*12),60%,15%);
}
#hour-24-13 {
	grid-area: hour-24-13;
	background-color:hsl(calc(15*13),60%,15%);
}
#hour-24-14 {
	grid-area: hour-24-14;
	background-color:hsl(calc(15*14),60%,15%);
}
#hour-24-15 {
	grid-area: hour-24-15;
	background-color:hsl(calc(15*15),60%,15%);
}
#hour-24-16 {
	grid-area: hour-24-16;
	background-color:hsl(calc(15*16),60%,15%);
}
#hour-24-17 {
	grid-area: hour-24-17;
	background-color:hsl(calc(15*17),60%,15%);
}
#hour-24-18 {
	grid-area: hour-24-18;
	background-color:hsl(calc(15*18),60%,15%);
}
#hour-24-19 {
	grid-area: hour-24-19;
	background-color:hsl(calc(15*19),60%,15%);
}
#hour-24-20 {
	grid-area: hour-24-20;
	background-color:hsl(calc(15*20),60%,15%);
}
#hour-24-21 {
	grid-area: hour-24-21;
	background-color:hsl(calc(15*21),60%,15%);
}
#hour-24-22 {
	grid-area: hour-24-22;
	background-color:hsl(calc(15*22),60%,15%);
}
#hour-24-23 {
	grid-area: hour-24-23;
	background-color:hsl(calc(15*23),60%,15%);
}
.hour-16 {
	grid-area: hour-16;
	display: grid;
	grid-template-columns: 40px;
	align-items: stretch;
	justify-items: center;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
	"hour-16-0"
	"hour-16-1"
	"hour-16-2"
	"hour-16-3"
	"hour-16-4"
	"hour-16-5"
	"hour-16-6"
	"hour-16-7"
	"hour-16-8"
	"hour-16-9"
	"hour-16-a"
	"hour-16-b"
	"hour-16-c"
	"hour-16-d"
	"hour-16-e"
	"hour-16-f";
}
.hour-16-p {
	border-top: 1px solid black;
	width: 80px;
	min-height: 24px;
	padding-top: 25%;
	font-size: 16px;
}
#hour-16-0 {
	grid-area: hour-16-0;
	background-color:hsl(calc(22.5*0),60%,15%);
}
#hour-16-1 {
	grid-area: hour-16-1;
	background-color:hsl(calc(22.5*1),60%,15%);
}
#hour-16-2 {
	grid-area: hour-16-2;
	background-color:hsl(calc(22.5*2),60%,15%);
}
#hour-16-3 {
	grid-area: hour-16-3;
	background-color:hsl(calc(22.5*3),60%,15%);
}
#hour-16-4 {
	grid-area: hour-16-4;
	background-color:hsl(calc(22.5*4),60%,15%);
}
#hour-16-5 {
	grid-area: hour-16-5;
	background-color:hsl(calc(22.5*5),60%,15%);
}
#hour-16-6 {
	grid-area: hour-16-6;
	background-color:hsl(calc(22.5*6),60%,15%);
}
#hour-16-7 {
	grid-area: hour-16-7;
	background-color:hsl(calc(22.5*7),60%,15%);
}
#hour-16-8 {
	grid-area: hour-16-8;
	background-color:hsl(calc(22.5*8),60%,15%);
}
#hour-16-9 {
	grid-area: hour-16-9;
	background-color:hsl(calc(22.5*9),60%,15%);
}
#hour-16-a {
	grid-area: hour-16-a;
	background-color:hsl(calc(22.5*10),60%,15%);
}
#hour-16-b {
	grid-area: hour-16-b;
	background-color:hsl(calc(22.5*11),60%,15%);
}
#hour-16-c {
	grid-area: hour-16-c;
	background-color:hsl(calc(22.5*12),60%,15%);
}
#hour-16-d {
	grid-area: hour-16-d;
	background-color:hsl(calc(22.5*13),60%,15%);
}
#hour-16-e {
	grid-area: hour-16-e;
	background-color:hsl(calc(22.5*14),60%,15%);
}
#hour-16-f {
	grid-area: hour-16-f;
	background-color:hsl(calc(22.5*15),60%,15%);
}
#comparison-line {
	position: absolute;
	left: 10%;
	top: 100%;
	margin-left: -1px;
	background-color: black;
	border: 1px solid black;
	width: 80%;
}